.feedback_container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;

    h1 {
        margin-bottom: 50px;
    }

    h5 {
        margin-bottom: 20px;
    }
}

.feedback {
    textarea {
        width: 300px;
        height: 200px;
    }
}

.feedback {
    width: 250px;
}

.placeholder {
    margin-top: 50px;
    color: transparent;
}

.overflow {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.1);
}

.feedback_text {
    margin: 10px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // overflow-y: scroll;

    .likes {
        display: flex;
        width: 50px;
        span {
            margin-left: 5px;
        }
    }
}
