<div>
    <h1>Daten ändern</h1>
    <div class="form-group">
        <label for="name">Name ändern</label>
        <input type="text" [(ngModel)]="name" (touchstart)="updateName()" placeholder="Bitte neuen Namen angeben"
            required>
    </div>
    <div class="form-group">
        <label for="name">E-Mail ändern</label>
        <input type="text" [(ngModel)]="email" (touchstart)="updateEmail()" placeholder="Bitte neue E-Mail angeben"
            required>
    </div>
    <div class="form-group">
        <label for="password">Passwort ändern</label>
        <input type="password" [(ngModel)]="password" (touchstart)="changePassword()" placeholder="Bitte neues Passwort eingeben" required>
    </div>
</div>