.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

label {
    margin-right: 5px;
}

button {
    margin-top: 15px;
}
