.addWish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.headline {
    position: fixed;
    top: 60px;
    left: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-left: 20px;

    label {
        margin-bottom: 10px;
    }

    input {
        margin-bottom: 20px;
    }

    textarea {
        margin-bottom: 20px;
    }

    .prio {
        color: black !important;
        background-color: white !important;
        border-color: white !important;
    }
}
