.addWish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.headline {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    label {
        margin-bottom: 10px;
    }

    input {
        margin-bottom: 20px;
    }

    textarea {
        margin-bottom: 20px;
    }

    .prio {
        color: black !important;
        background-color: white !important;
        border-color: white !important;
    }
}
