<section class="addWish">
    <h1 class="headline">Wunsch hinzufügen</h1>
    <div class="form">
        <label for="image">Bild auswählen</label>
        <input [(ngModel)]="image" (change)="this.firebase.changePicture($event)" type="file" id="image" required>
        <label for="url">Link einfügen</label>
        <input [(ngModel)]="url" type="url" name="url" id="url" placeholder="Link zum Wunsch" required>
        <label for="prio">Priorität auswählen</label>
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary prio" id="dropdownBasic1" ngbDropdownToggle>
                        Priorität: {{ this.firebase.selectedPriority }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="setPriority('Niedrig')">Niedrig</button>
                        <button ngbDropdownItem (click)="setPriority('Mittel')">Mittel</button>
                        <button ngbDropdownItem (click)="setPriority('Hoch')">Hoch</button>
                    </div>
                </div>
            </div>
        </div>
        <label for="wish">Wunsch eingeben</label>
        <input [(ngModel)]="wish" type="text" id="wish" placeholder="Name des Wunsches">
        <label for="description">Beschreibung</label>
        <textarea [(ngModel)]="description" type="text" id="description"
            placeholder="Anmerkungen zum Wunsch"></textarea>
        <button (click)="this.addWish()">Wunsch hinzufügen</button>
    </div>
</section>