<section class="addWish">
    <h1 class="headline">Wunsch hinzufügen</h1>
    <form class="form" action="">
        <label for="image">Bild einfügen</label>
        <input type="text" id="image" placeholder="Bitte füge den Link vom Bild ein">
        <label for="url">Link einfügen</label>
        <input type="url" name="url" id="url" placeholder="Link zum Wunsch">
        <label for="prio">Priorität auswählen</label>
        <!--dropdown to choose priority-->
        <button mat-button [matMenuTriggerFor]="menu">Priorität</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Niedrig</button>
            <button mat-menu-item>Mittel</button>
            <button mat-menu-item>Hoch</button>
        </mat-menu>
        <label for="wish">Wunsch eingeben</label>
        <input type="text" id="wish" placeholder="Name des Wunsches">
        <button>Wunsch hinzufügen</button>
    </form>
</section>