<div class="login">
    <h1 class="headline">
        Wunschliste
    </h1>
    <div class="inputFields">
        <input type="email" [(ngModel)]="email" placeholder="Bitte E-Mail angeben">
        <input type="password" [(ngModel)]="password" placeholder="Bitte Passwort eingeben">
        <div class="buttons">
            <button class="button" (click)="onLogin()" type="submit">Login</button>
            <button class="button" (click)="navigateToRegistration()" type="button">Registrieren</button>

        </div>
        <!-- Dialog öffnen in dem eine Email adresse angegeben werden muss -->
        <span class="forgot" (click)="openDialog()">Passwort vergessen</span>

    </div>

</div>