<section class="wishes-container">
    <h1 class="headline">Wünsche von Niklas</h1>
    <div class="wishes">

        <table class="table">
            <tr class="first_tr">
                <th>Wunsch</th>
                <th>Bild</th>
                <th>Link</th>
                <th>Aktionen</th>
            </tr>
            <tr *ngFor="let wish of wishes; trackBy: trackByWishId" [ngClass]="{'completed': wish.wishes[0].completed}"
                [style.pointer-events]="wish.wishes[0].completed ? 'none' : 'auto'">
                <td [ngStyle]="getPriorityStyle(wish.wishes[0].priority)">{{ wish.wishes[0].wishName }}
                </td>
                <td><img (click)="this.help.openImage(wish.wishes[0].image)" [src]=wish.wishes[0].image></td>
                <td><a href=`${{wish.wishes[0].link}}`>{{wish.wishes[0].link}}</a></td>
                <td>
                    <button (click)="wishDone(wishes[0].wish)">Erledigt</button>
                </td>
            </tr>
        </table>
        <div *ngIf="this.help.showBigImg" class="bigImagebox">
            <mat-icon (click)="this.help.closeImage()" aria-hidden="false"> close </mat-icon>
            <div *ngIf="this.help.previewImage">
                <img class="bigImage" src="{{ this.help.currentBigImage }}" alt="">
            </div>
        </div>
    </div>
</section>