<section class="wishes-container">
    <h1 class="headline">Wünsche von</h1>
    <div class="wishes">

        <table class="table">
            <tr class="first_tr">
                <th>Wunsch</th>
                <th>Bild</th>
                <th>Link</th>
                <th>Aktionen</th>
            </tr>
            <tr *ngFor="let wish of getWishes(); trackBy: trackByWishId" [ngClass]="{'completed': wish.completed}"
                [style.pointer-events]="wish.completed ? 'none' : 'auto'">
                <td [ngStyle]="getPriorityStyle(wish.priority)">{{ wish.wish }}
                </td>
                <td><img (click)="this.help.openImage(wish.image)" [src]=wish.image></td>
                <td><a href=`${{wish.link}}`>{{wish.link}}</a></td>
                <td>
                    <button (click)="wishDone(wish)">Erledigt</button>
                </td>
            </tr>
            <!--Wird nur angezeigt wenn keine Wünsche mehr in der Liste sind-->
            <tr>
                <td *ngIf="this.help.wishLength === 0" colspan="4">Keine Wünsche vorhanden</td>
            </tr>
        </table>
        <div *ngIf="this.help.showBigImg" class="bigImagebox">
            <mat-icon (click)="this.help.closeImage()" aria-hidden="false"> close </mat-icon>
            <div *ngIf="this.help.previewImage">
                <img class="bigImage" src="{{ this.help.currentBigImage }}" alt="">
            </div>
        </div>
    </div>
</section>