<section class="wishes-container">
    <h1 class="headline">Wünsche</h1>
    <div class="wishes">

        <table class="table">
            <tr class="first_tr">
                <th>Wunsch</th>
                <th>Bild</th>
                <th>Link</th>
                <th>Aktionen</th>
            </tr>
            <tr *ngFor="let wish of getWishes(); trackBy: trackByWishId" [ngClass]="{'completed': wish.completed}"
                [style.pointer-events]="wish.completed ? 'none' : 'auto'">
                <td [ngStyle]="getPriorityStyle(wish.priority)" (click)="changePriority(wish)">{{ wish.wish }}
                </td>
                <td><img (click)="openImage(wish.image)" [src]=wish.image></td>
                <td><a href=`${{wish.link}}`>{{wish.link}}</a></td>
                <!-- Löschen Button nur wenn Eigentümer der Liste angemeldet,
                wenn Gast oder Schenker auf Liste zugreift dann Erledigt -->
                <td>
                    <button [disabled]="wish.completed" (click)="handleButton(wish)">{{test ? "Löschen" :
                        "Erledigt"}}</button>
                </td>
            </tr>
            <!--Wird nur angezeigt wenn keine Wünsche mehr in der Liste sind-->
            <tr>
                <!-- <td *ngIf="this.wishes.length === 0" colspan="4">Keine Wünsche vorhanden</td> -->
            </tr>
            <div class="addWishBtn">
                <button [class.opacity]="!test" [disabled]="!test" (click)="navigateToAddWish()">Wunsch
                    hinzufügen</button>
            </div>
        </table>
        <div *ngIf="showBigImg" class="bigImagebox">
            <mat-icon (click)="closeImage()" aria-hidden="false"> close </mat-icon>
            <div *ngIf="previewImage">
                <img class="bigImage" src="{{ currentBigImage }}" alt="">
            </div>
        </div>
    </div>

</section>