<section class="wishes-container">
    <h1 class="headline">Wünsche</h1>
    <div class="wishes">

        <table class="table">
            <tr class="first_tr">
                <th>Wunsch</th>
                <th>Bild</th>
                <th>Link</th>
                <th>Aktionen</th>
            </tr>
            <tr *ngFor="let wish of getWishes()">
                <td [ngStyle]="getPriorityStyle(wish.priority)">{{ wish.wish }}</td>
                <!-- <td #prio>{{wish.wish}}</td> -->
                <td><img [src]=wish.image></td>
                <td><a href="{{wish.link}}">{{wish.link}}</a></td>
                <td>
                    <button>Löschen</button>
                </td>
            </tr>
            <!--Wird nur angezeigt wenn keine Wünsche mehr in der Liste sind-->
            <tr>
                <!-- <td colspan="4">Keine Wünsche vorhanden</td> -->
            </tr>
        </table>
    </div>
    <div>
        <button (touchstart)="navigateToAddWish($event)">Wunsch hinzufügen</button>
    </div>
</section>