.headline {
    position: fixed;
    top: 60px;
    left: 10px;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    top: 170px;
    left: 0;

    .first_tr {
        justify-content: space-around !important;
        margin-bottom: 20px;
    }

    tr {
        display: flex;
        justify-content: space-evenly;

        :first-child {
            margin-bottom: 20px;
        }
    }

    a {
        color: white !important;
        background-color: unset !important;
    }

    button {
        padding: 4px !important;
        background-color: white !important;
    }

    img {
        padding: 0 !important;
        width: 100px;
    }
}
