/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
    margin: 0;
    background-color: rgb(5, 23, 31) !important;
    color: white !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: auto;
    box-sizing: border-box;
}

.scroll-container {
//   width: 100vw;
//   height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
//   padding: 1rem;
}

.high-priority {
    background-color: red;
    color: white;
}
.medium-priority {
    background-color: orange;
    color: white;
}
.low-priority {
    background-color: green;
    color: white;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color: white !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: white !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: white !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: green !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
    color: green !important;
}

html,
body {
    height: 100%;
    overflow: auto !important;
}
