body {
    margin: 0;
    background-color: rgb(5, 23, 30) !important;
    color: white !important;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.high-priority {
    background-color: red;
    color: white;
}
.medium-priority {
    background-color: orange;
    color: white;
}
.low-priority {
    background-color: green;
    color: white;
}


/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
