body {
    margin: 0;
    background-color: rgb(5, 23, 30);
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.high-priority {
    background-color: red;
    color: white;
}
.medium-priority {
    background-color: orange;
    color: white;
}
.low-priority {
    background-color: green;
    color: white;
}
