.overlay {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.user {
    position: absolute;
    top: 20px;
    right: 60px;
}
