<button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <span class="user" (click)="openUserMenu()">{{this.getUserName()}}</span>
    <button (click)="navigateToFeedback()" mat-menu-item>
        <span>Feedback</span>
    </button>
    <button (click)="navigateToWish()" mat-menu-item>
        <span>Wünsche</span>
    </button>
    <button (click)="navigateToLogin(); logOut()" mat-menu-item>
        <span>Abmelden</span>
    </button>
</mat-menu>